
dy {
    background: #0F1214;
}

.sidebar {
    background: #0F1214;
}

#sidebar .heading {
    color: white;
}

#sidebar  .highlight {
    color: black;
}

#sidebar .text-muted {
    color: white !important; 
}

#sidebar .fas {
    color: white;
}

#sidebar .fab {
    color: white;
}

#profile-img {
    border-radius: 0% !important;
    width: 68% !important;
}

.sidebar-svg {
    height: 26px;
    width: 26px;
    margin-bottom: 6px;
}

#skills {
    background: #A24E3C
}

#skills .progress .bg-blue {
    background-color: #4F1271;
}

#experience {
    background: #8ECCD2;
}

#experience a {
    color: darkslategrey;
    font-weight: bold;
}

section.projects {
    background: #74AF3A;
}

section.blue {
    background:  #00BDC1 !important; 
}

#contact {
    background: #0F7787 !important;
}

.language {
    font-weight: bolder !important;
    color: gray !important;
}
