body {
	font-family: sans-serif;
	background-color: #171717;
	color: #bbbbbb;
	letter-spacing: 0.8px;
  margin-left: 2%;
  margin-right: 3%;

}

h3 {
  font-family: monospace;
  font-size: 16px;
}

.subsection {
	padding: 2px 4px;
  border: 1px solid #3f3639;
  width: 1000px;
  max-width: 100%;
  display: inline-block;
  background-color: #1b1b1b;
}

h3 {
  font-family: monospace;
  font-size: 16px;
}

.subsection {
	padding: 2px 4px;
  border: 1px solid #3f3639;
  width: 1000px;
  background-color: #1b1b1b;
}

a {
	color: #baba9e;
	text-decoration: none;
}

a:active,a:hover,a:focus {
	color: #eaeace;
	text-decoration: none;
}

ul {
	list-style: '> ';
}

terminal {
	font-family: 'monospace';
	color: #baba9e;
	background-color: #131313;
	padding: 7.5px;
	border: 1px solid #3d3a3b;
	border-radius: 2px;
	display: table;
	font-size: 13px;
}

code {
	color: #bbbbbb;
	background-color: #3d3a3b;
	font-family: monospace;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 2px;
}

credit {
  font-size:10px;
}
